<!DOCTYPE html>
<html>
    <head>
        <title>User Information</title>
        <style>
            body{
                 font-family: verdana;
            }
         
            table {
                width: 500px;
                 
            }
             
            table, th, td {
                border: 1px solid black;
                padding: 2px;
            }
             
            th{
                background-color: #00439A;
                color : #FFFFFF;
            }
             
            tr.odd{
                background-color: #CFCFCF;
            }
             
            tr.even{
                background-color: #1076F5;
            }
        </style>
    </head>
    <body>
    <h1>User Information</h1>   
    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Gender</th>
        </tr> 
        #foreach ($user in $model["users"])
        <tr class="#if ($user.id % 2 == 0) even #else odd #end">
            <td align="center">${user.id}</td>
            <td>${user.firstName}</td>
            <td>${user.lastName}</td>
            <td align="center">${user.age}</td>
            <td>#if ($user.gender == 'M') Male #else Female #end</td>
        </tr>
        #end
        </table>
    </body>
</html>